.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(5px + 2vmin);
  color: black;
}

button {
  margin: 30px;
  font-size: 18px;
  height: 65px;
  width: 250px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
  background:red;
   cursor: pointer;
 }

thead {color:black;}
tbody {color:black;}
tfoot {color:red;}

table, th, td {
  border: 2px solid red;
  background: white
}
td, th{
  padding: 10px;
}